<div class="banner">
  <h1>Créer vos listes de livres sans limites !</h1>
</div>

<div class="w-80 mx-auto -mt-5 ">
  <%= simple_form_for :search, url: '/search', html: { class: "flex justify-around gap-1"} do |f| %>
    <%= f.input :search, placeholder: 'Chercher un livre', input_html: { class: 'search' }, label: false %>
    <%= f.button :submit, 'Search', class: 'button' %>
  <% end %>
</div>

<h2>Voici une sélection de livres</h2>
<div class="cards">
  <% @books.each do |book| %>

    <div class="card">
      <% if book.image_url.nil? %>
        <img src="https://via.placeholder.com/150" alt="">
      <% else %>
        <img src="<%= book.image_url %>" alt="toto">
      <% end %>
      <div class="card--infos">
        <%= link_to book_path(book) do %>
          <h3>
            <%= book.title %>
          </h3>
        <% end %>
        <p class='truncate'>
          <%= book.description %>
        </p>
        <span class="category">
          <%= book.categories %>
        </span>
        <%= simple_form_for [book, @book_bookshelf] do |f| %>
          <%= f.input :bookshelf_id, collection: @bookshelves, label: 'Ajouter à une étagère' %>
          <%= f.submit "Add to Bookshelf" %>
        <% end %>

      </div>
    </div>
  <% end %>
</div>
