<div class='mb-5 flex flex-col items-center'>
  <h1>Recommendations</h1>
  <p class='instructions'>Swipe à gauche pour Like et à droite pour Dislike un livre.</p>
</div>

<div class='recommendation my-5 shadow-md'>
  <% @recommendations.each do |recommendation| %>
    <div data-controller="swipe" data-id="<%= recommendation.id %>">
      <div class='flex justify-center gap-x-8'>
        <% if recommendation.image_url.nil? %>
          <img src="https://via.placeholder.com/150" alt="">
        <% else %>
          <img src="<%= recommendation.image_url %>" alt="toto">
        <% end %>
        <p>Note moyenne :
          <%= recommendation.average_rating ? recommendation.average_rating : 'n/a' %></p>
      </div>
      <div>
        <h2><%= recommendation.title %></h2>
        <p><%= recommendation.description %></p>
      </div>
    </div>
  <% end %>
</div>
