<h1>Résults</h1>

<% @books.each do |book| %>
  <h3>
    <%= book.title %>
  </h3>
  <p>
    <%= book.google_book_id %>
  </p>

  <% if book.image_url.nil? %>
    <img src="https://via.placeholder.com/150" alt="">
  <% else %>
    <img src="<%= book.image_url %>" alt="toto">
  <% end %>

  <%= simple_form_for [book, @book_bookshelf] do |f| %>
    <%= f.input :bookshelf_id, collection: @bookshelves %>
    <%= f.submit "Add to Bookshelf" %>
  <% end %>

  <%= link_to "Voir plus d'information", book_path(book) %>
<% end %>
